<div class="weather1">
  <h1>Weather APP</h1>
</div>
<!-- Container -->
<div class="card">
  <div class="search">
    <input type="text" placeholder="Enter City Name" spellcheck="false" [(ngModel)]="city" (keydown.enter)="search()">
    <button><img src="../assets/search.png" (click)="getWeather()"></button>
  </div>
  <div class="error">
    <p>Invalid city name</p>
  </div>

  <div class="weather">
    <img [src]="imgURL" class="weather-icon">
    <h2>{{sum}}</h2>
    <h1 class="temp">{{temp}}°C</h1>
    <h2 class="city">{{city}}</h2>

    <div class="details">
      <div class="col">
        <img src="../assets/humidity.png">
        <p class="humidity">{{humidity}}%</p>
        <p>Humidity</p>
      </div>
      <div class="col">
        <img src="../assets/wind.png">
        <p class="wind">{{wind}} km/h</p>
        <p>Wind Speed</p>
      </div>

    </div>
  </div>